src/main/mule/subapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dcf26caa-82a2-4e9f-9eec-6b9a75d34790" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="subapiFlow" doc:id="a533ca7d-15f8-4296-80f5-44b79dc1cba2" >
		<http:listener doc:name="Listener" doc:id="0f33b403-81ed-4c66-8dc1-536de3953d10" config-ref="HTTP_Listener_config" path="/sub"/>
		<logger level="INFO" doc:name="Logger" doc:id="20b42e95-0cc3-4896-a375-7ae9b21fbe9c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;"sub": attributes.queryParams.fname - attributes.queryParams.lname]'/>
		<ee:transform doc:name="Transform Message" doc:id="1d02224c-ca61-4e82-8de2-034119c2980f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"sub": attributes.queryParams.fname - attributes.queryParams.lname
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
